.register-container {
    max-width: 500px;
    margin: auto;
    padding: 60px;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 10px rgba(74, 71, 71, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.disabled-icon {
    opacity: 0.3; 
  }
.centered-text {
    text-align: center;
    font-family: Arial, sans-serif  !important; 
    color:#5D5F65 ;
    margin-bottom: 30px !important;
  }
  .set-accoutn-text{
    font-family: Arial, sans-serif  !important; 
    color:#5D5F65 ;
    text-align: center !important;
    margin-bottom: 30px !important;

  }

.register-container form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.input-groups {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; 
    margin-bottom: 20px; 
}

.input-group {
    display: flex;
    flex-direction: column;
    flex: 1; 
    margin-right: 10px; 
}

.input-group:last-child {
    margin-right: 0; 
}

.register-container h5 {
    margin-bottom: 20px;
}

.register-container .MuiFormControl-root {
    margin-bottom: 10px;
}

.register-container .MuiButton-root {
    margin-top: 20px;
}

.register-container .MuiTypography-root.error, .register-container .MuiFormHelperText-root.Mui-error {
    color: #f44336; 
}

.register-button-container {
    display: flex;
    justify-content: center;
    width: 100%; 
  }
  .question{
    font-family: Arial, sans-serif  !important; 
    color:#5D5F65 ;
    text-align: left;

  }

@media (max-width: 768px) {
    .input-groups {
        flex-direction: column;
    }
    .input-group {
        margin-right: 0; 
        margin-bottom: 20px; 
    }
}
