.start-page {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to bottom, rgba(234, 235, 240, 0.4), rgba(104, 128, 215, 0.6)), url('C:\Users\stefa\Desktop\Licenta\frontend\src\lotus_backround.jpg');
    background-size: cover;
    background-position: center;
    animation: fadeIn 2s ease-out;
    margin-top: -24px;
    min-height: 100vh;
    position: relative;
  }
  .faq-section {
    border-radius: 20px;
    max-width: 600px;
    margin: 40px auto;
    padding: 40px;
    opacity: 0; 
    transition: opacity 0.5s ease; 
}
.content-faq-title {
    text-align: center;
    color: rgb(85,89,101);
    margin-bottom: 35px !important;
}
.content-faq-content {
    text-align: center;
    color: rgb(85,89,101);
    margin-bottom: 10px !important;
}

.show {
    opacity: 1;
}
  
  
  
  .footer-transition {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 200px; 
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgb(239,233,244, 0.8));
  }



.content {
    text-align: center;
    color: rgb(85,89,101);
}


.start-button {
    margin-top: 20px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color:rgb(83,87,101);
    color: white;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.start-button:hover {
    background-color: rgb(83,87,101);
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
